.container {
  display: grid;
  grid-template-areas:
      'header header header header header header'
      'maps maps maps charts charts charts';
  gap: 10px;
  /* background-color: #f0f0f0; */
  padding: 20px;
}

/* Header styles */
.header {
  grid-area: header;
}

/* Maps section */
.maps {
  grid-area: maps;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}

.choropleth-map-elderly,
.choropleth-map-blood-pressure {
  /* border: 1px solid #ccc; */
  height: 300px; 
  padding: 10px;
  position: relative;
  overflow: hidden; 
}

#map-elderly svg,
#map-blood-pressure svg {
  position: absolute;
  top: -150px;
}


/* Charts section */
.charts {
  grid-area: charts;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
}

/* Individual chart */
.scatterplot,
.histogram-elderly,
.histogram-blood-pressure {
  /* border: 1px solid #ccc; */
  padding: 10px;
}

/* Footer styles */
.footer {
  text-align: center;
}

/* Source link styles */
.source {
  font-size: 12px;
}

/* body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
    background: #f7f7f7;
  }
   */
  /* h1 {
    margin-top: 0;
  } */
  
  .source {
    font-size: 10px;
    color: #888;
  }
  .source a {
    color: #888;
  }
  
  /* Marks */
  .point:hover {
    stroke: #333;
  }
  
  /* Axes */
  .axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-size: 13px;
    fill: #6b6b6b;
  }
  .axis-title {
    font-size: 13px;
    fill: #888;
  }
  .y-axis .tick:first-child line {
    stroke: #b1b1b1;
  }
  .y-axis .tick:first-child text {
    display: none;
  }
  .x-axis .tick:first-child line {
    display: none;
  }
  .axis path {
    display: none;
  }
  
  
  /* Tooltip */
  #tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
  }
  .tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }

/* Histogram */
#histogram {
  width: 600px; 
  height: 400px; 
}

.bar {
  fill: #d4d645;
  opacity: 0.9;
}

.bar:hover {
  cursor: pointer;
  fill: #909133;
}


.axis text {
  font-size: 12px;
}

.axis-title {
  font-size: 14px;
  text-anchor: middle;
}

 /* Tooltip */
 #histogram-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges; 
}

/* Choropleth maps */
#states {
  fill: #aaa;
}

#states .active {
  display:none;
}
.center-container {
  overflow: visible; 
}


#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: blue;
  stroke: #fff;
  stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
  fill: orange;
}

#tooltip-map {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}

.legend{
  position: absolute;
  top: 0; 
  right: -10px;
}
.legend-title {
  font-size: .7rem;
  font-weight: 600;
}
.legend-label {
  font-size: .7rem;
}